<%- include("../index.ejs") %>
<h2><%= title %></h2>
<section class="category-section">
  <div class="add-button-container"><a href="/genres/create">Add</a></div>
<ul>
    <% if(genres.length > 0 ) { %>
      <% for(const genre of genres) {%>
          <li><a href="<%= genre.url%>"><%= genre.name%></a></li>
      <% } %>
    <% } else { %>
      <p>There's no genres yet.</p>
      <% } %>
</ul>
</section>