<footer>
    <p>Provided by</p>
    <div>
        <a href="https://www.mongodb.com/"><%- include('../../public/images/mongodb-svg.svg')%></a>
        <a href="https://expressjs.com/"><%- include('../../public/images/expressjs-svg.svg')%></a>
   </div>
</footer>