<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>inventory</title>
    <link rel="stylesheet" href="/stylesheets/reset.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Prata&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <h1><a href="/">inventory</a></h1>
      <nav class="navigation-bar">
        <ul>
          <li><a href="/artists">artists</a></li>
          <li><a href="/albums">albums</a></li>
          <li><a href="/songs">songs</a></li>
          <li><a href="/genres">genres</a></li>
        </ul>
      </nav>
    </header>
  </body>
</html>
