<h1><%= title %></h1>
<form method="POST" action="">
    <label for="search">Search</label>
    <input type="text" id="search" value='' name="search">
    <button type="submit">Submit</button>
</form>
<% if(results.length > 0) { %>
  <%  for(const item of results) { %>
            <a href="<%= item.external_urls.spotify %>"><%= item.name%></a>
   <% } %>
<% } %>