:root {
    --main-font: 'Prata', serif;
    --main-bg-color:hsl(61, 100%, 81%);
    --main-font-color:hsl(0, 0%, 27%);
    --main-font-color-less-opacity: hsla(0, 0%, 27%, 0.5);
    --red-accent:hsl(0, 100%, 43%); 
    --red-accent-darker:hsl(0, 99%, 26%); 
    --step--3: clamp(0.58rem, calc(0.29rem + 1.21vw), 1.24rem);
    --step--2: clamp(0.69rem, calc(0.42rem + 1.15vw), 1.32rem);
    --step--1: clamp(0.83rem, calc(0.58rem + 1.06vw), 1.41rem);
    --step-0: clamp(1.00rem, calc(0.78rem + 0.92vw), 1.50rem);
    --step-1: clamp(1.20rem, calc(1.03rem + 0.74vw), 1.60rem);
    --step-2: clamp(1.44rem, calc(1.32rem + 0.49vw), 1.71rem);
    --step-3: clamp(1.73rem, calc(1.69rem + 0.17vw), 1.82rem);
    --step-4: clamp(1.94rem, calc(2.13rem + -0.24vw), 2.07rem);
    --step-5: clamp(2.30rem, calc(2.64rem + -0.4vw), 2.98rem);
    --step-6: clamp(2.40rem, calc(2.73rem + -0.3vw), 3.06rem);
  }

body {
  display: flex;
  flex-direction: column;
  background-color: var(--main-bg-color);
  font-family: var(--main-font); 
  min-height: 100vh;
}

body:not(p){
  user-select: none;
}

header{
  display: grid;
  grid-auto-flow: row;
  min-width: 100%;
  border-bottom: 3px solid black;
  background-color: var(--main-bg-color);
}

h1{
  padding-block: 1rem;
  text-align: center;
  font-size: var(--step-3);
}

h1 > a{
  text-decoration: none;
  color:  var(--main-font-color); 
}

li{
  text-decoration: none;
}

nav.navigation-bar{
  display: grid;
  place-items: center;
  padding-block: 1em;
  grid-template-rows: 1fr;
}

nav.navigation-bar > ul {
  display: flex;
  gap: 2em;
  margin-inline: 2rem;
  flex-wrap: wrap;
  justify-content: center;
 
}

nav.navigation-bar > ul li{
  list-style-type: none;
}

nav.navigation-bar > ul li a {
  text-decoration: none;
  color:  var(--main-font-color); 
  font-size: var(--step-0);
}

nav.navigation-bar > ul li a:hover{
  background-color: var(--main-font-color);
  color: var(--main-bg-color);
}

section.category-section div.add-button-container, div.add-element{
  display: grid;
  place-items: center;
  width: 100%;
  padding-block: .3rem;
}

section.category-section div.add-button-container a, div.add-element a {
  text-decoration: none;
  color: white;
  background-color: black;
  font-size: var(--step--2);
  padding-inline: 0.5rem;
  padding-block: 0.3rem;
}

hr{
  border: 0; 
  height: 3px;
  background-color: var(--main-font-color);
  width: 100%; 
}

h2{
  background-color: var(--main-bg-color);
  width: 100%;
  color:  var(--main-font-color); 
  font-size: var(--step-3);
  text-align: center;
  padding-block: 1rem;
}

li a{
  padding-inline: .1rem;
  padding-block: .1rem;
}

li > a:hover{
  background-color: var(--main-font-color);
  color: var(--main-bg-color);
}

div.tab-container{
  display: grid;
  grid-auto-flow: row;
  place-items: center;
  width: 100%;
  padding-inline: 15%;
  gap: 2rem;
}


div.main-tab{
  display: grid;
  grid-auto-flow: column;
  border: 3px solid black;
  width: 100%;
  place-items: center;
}


div.main-tab div {
  font-size: var(--step-3);
}


div.main-tab div a {
  text-decoration: none;
  color: var(--main-font-color);
}


div.main-tab div:nth-child(4) a{
  display: block;
  color: white;
  background-color: black;
  font-size: var(--step--2);
  padding-inline: 0.5rem;
  padding-block: 0.3rem;
  width: 100%;
}

div.main-tab div:nth-child(4) a:hover{
  outline: 1px solid black;
  outline-offset: 1px;
}


section.category-section{
  display: grid;
  place-items: center;
  overflow-y: auto;
}

section.category-section ul{
  display: grid;
  grid-auto-flow: row;
  gap: 1rem;
  padding-block: 1rem; 
  width: 100%;
}

section.category-section ul li {
  list-style-type: none;
  text-align: center;
}

section.category-section ul li a{
  color: var(--main-font-color);
  text-decoration: none;
  font-size: var(--step-3);
}

section.category-section ul li a:hover{
  background-color: var(--main-font-color);
  color: var(--main-bg-color);
}


section.category-section.albums-section ul li a{
  font-size: var(--step-0);
  font-weight: bold;
}

div.img-container{
  display: grid;
  place-items: center;
}

img{
  width: 600px;
}

div.year-information{
  display: grid;
  justify-content: center;
  font-size: var(--step--3);
  padding-block: .5rem;
  font-weight: bold;
}

div.year-information span{
  width: 100%;
}

div.biography-information{
  text-align: center;
  font-size: var(--step--1);
  padding-inline: 1rem;
}

div.panel{
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  padding-block: .5rem;
  gap: 1rem;
}

a.edit-information{
  background-color: black;
  color: var(--main-bg-color); 
  font-size: var(--step--1);
  padding-inline: .5rem;
  padding-block: .3rem;
  text-decoration: none;
}

button.delete-button{
  color: var(--main-bg-color);
  background-color: var(--red-accent);
  font-size: var(--step--1);
  padding-inline: .5rem;
  padding-block: .3rem;
  border: none;
}

h3{
  font-size: var(--step-0);
  font-weight: normal;
  padding-inline: 1rem;
}

h3.artist{
  
  padding-block: .5rem;
  width: 100%; 
  text-align: center;
}

h3 a{
  padding-inline: .1rem;
  padding-block: .1rem;
  font-weight: bold;
  color: var(--main-font-color); 
  text-decoration: none;
}

h3 a:hover{
  background-color: var(--main-font-color);
  color: var(--main-bg-color); 
}

div.artist-songs{
  display: flex;
  flex-wrap: nowrap;
  background-color: var(--main-font-color);
 
  color: var(--main-bg-color); 
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;

}

div.artist-songs span{
  padding-block: .5rem;
  padding-inline: 1rem;
}

div.artist-songs span a {
  white-space:nowrap;
  text-decoration: none;
  color: var(--main-bg-color); 
}

div.artist-songs span:hover{
  background-color: black;
}

div.artist-albums {
  display: flex;
  flex-wrap: nowrap;
  padding-block: .5rem;
  padding-inline: 1rem;
  color: var(--main-bg-color); 
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;

  
}

div.artist-albums div{
 display: grid;
 place-items: center;
 gap: 0.5rem;
 padding-inline: .5rem;
 padding-block: 0.3rem;
}

div.artist-albums div a {
  display: grid;
  place-items: center;
  color: var(--main-font-color); 
  text-decoration: none;
  text-align: center;
}

div.artist-albums div:hover{
  background-color: var(--main-font-color);
 
}

div.artist-albums div a:hover{
  color: var(--main-bg-color);
}

div.artist-albums div a img{
  border: 1px solid var(--main-bg-color);
}

div.artist-albums div img{
  border: 1px solid var(--main-font-color);
  width: 100px; 
}

div.error-message-container{
  display: flex;
  position: fixed;
  padding-block: 0.3rem;
  padding-inline: .5rem;
  margin-block: 1rem;
  width: fit-content;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center;
  /*  margin: 0 auto; probar borrar */ 
  border: 3px solid var(--red-accent); 
  gap: .3rem;
  background-color: var(--red-accent-darker);
  color: var(--red-accent);
 
}

p.error-message{
  color: white;
  font-size: var(--step--2);
}




div.information{
  display: grid;
  grid-auto-flow: row;
  place-items: center;
}

div.information a{
  padding-inline: .1rem;
  padding-block: .1rem;   
  text-decoration: none;
  color: var(--main-font-color);
}

div.information a:hover{
  background-color: var(--main-font-color);
  color: var(--main-bg-color);

}

div.popup-container{
  margin-top: auto;
  padding-block: .5rem;
  background-color: var(--red-accent);
  color: var(--main-bg-color); 
  font-size: var(--step-0);
}

div.popup-container form label{
  display: inline-block;
  width: 100%;
  text-align: center;
}

div.popup-container div.form-control{
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
}

div.popup-container div.form-control button{
  margin-inline: .5rem;
  padding-inline: .5rem;
  padding-block: .3rem;
  border: none;
  width: fit-content;
  background-color: transparent;
  color: var(--main-bg-color); 
    font-size: var(--step--1);
    margin-block: 0; 
}

div.popup-container div.form-control button:hover{
  background-color: var(--main-bg-color);
  color: var(--red-accent);
  outline: none;
}


section.songs-section ul li a{
  font-size: var(--step-0);
  font-weight: bold;
}

form.main-form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: auto;
  padding-inline: 2rem;
}

form.main-form div.field-container{
  padding-inline: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

form.main-form div.field-container input{
  background-color: transparent;
  border: none;
  border-bottom: 3px solid black; 
  flex-grow: 1;
  outline: none;
}

form.main-form div.field-container label{
  padding-block: .3rem;
}

form.main-form div.field-container input:focus{
  border-bottom: 3px solid hotpink;
  
}

form.main-form div.field-container input[type=file]{
  border: none;
}

form.main-form div.field-container textarea{
  padding: .5rem;
  background-color: transparent;
  border: 3px solid black;
  
}

form.main-form div.field-container textarea:focus{
  outline: solid hotpink;
}

form.main-form div.field-container input[type=file]::file-selector-button{
  font-family: var(--main-font);
  color: var(--main-bg-color);
  background-color: black;
  border: none;
  padding-inline: .5rem;
  padding-block: .3rem;
}

button[type=submit]{
  width: fit-content;
  place-self: center;
  text-decoration: none;
  color: white;
  background-color: black;
  padding-inline: 0.5rem;
  padding-block: 0.3rem;
  border: none;
  margin-block: .5rem;
}

form.main-form div.field-container select{
  border: none;
  background-color: transparent;
  font-weight: bold;
}

form.main-form div.field-container select > option:hover {
  font-family: var(--main-font);
  
}

div.tracklist{
  display: grid;
  place-items: center;
  padding-block: .5rem;
}

div.tracklist > p {
  font-size: var(--step-0);
  font-weight: bold;
}

div.tracklist ul{
  display: grid;
  grid-auto-flow: row;
  gap: .3rem; 
  place-items: center;
}

div.tracklist ul li {
  
  list-style-type: none;
  
}

div.tracklist ul li a {
  text-decoration: none;
  color: var(--main-font-color);
  padding-inline: .1rem;
  padding-block: .1rem;   
}

div.tracklist ul li a:hover{
  color: var(--main-bg-color);
}

div.svg-container{
  display: none;
}


h3 ~ p {
  padding-inline: 1rem;
  font-size: var(--step--2);
}

section.artist-content{
  margin-block-start: 1rem;
}

footer {
  display: grid;
  place-items: center;
  margin-top: auto;
  padding-block: 1rem;
}

footer div{
  display: flex;
  gap: 1rem; 
}

footer img {
  aspect-ratio: auto;
  width: 10rem; 
}

div.sticky-header{
  position: sticky;
  top: 0;
  background-color: var(--main-bg-color);
}

li.error-message{
  color: var(--red-accent); 
  padding-inline: 2rem;
}

@media (min-width: 60em) {
  header{
    grid-auto-flow: column;
  }

  div.tab-container{
    grid-template-columns: repeat(4, 1fr);
    margin-block: 3rem;    
    padding-inline: 20%;
  }

  div.tab-container div.main-tab{
    display: grid;
    border: none;
    grid-auto-flow: row;
    max-width: 14rem;
  }

  

  div.tab-container div.main-tab div{
    width: 100%;
  }


  div.tab-container div.main-tab div:not(:nth-child(4)){
    text-align: center;
  }

  div.tab-container div.main-tab div:nth-child(1){
    border-top: 3px solid black;
    border-inline: 3px solid black;
    padding-block-start: 1rem;
  }

  div.tab-container div.main-tab div:nth-child(2){
    border-inline: 3px solid black;
    padding-inline: .5rem;
  }

 

  div.tab-container div.main-tab div.svg-container{
    display: grid;
    place-items: center;
    border-bottom: 3px solid black;
    border-inline: 3px solid black;
  }

  div.tab-container div.main-tab div.svg-container svg{
    display: block;
    width: 2.5rem; 
    height: 4.5rem;

  }

  div.tab-container div.main-tab div.add-button-container{
    text-align: center;
    width: 100%;
    margin-block-start: .5rem;
  }

 

  section.category-section ul{
    padding-inline: 15%;
    grid-template-columns: repeat(4, 1fr);
    
  }

  section.category-section ul li a:nth-child(2){
    font-size: var(--step--3);
    font-weight: normal;
  }
  section.category-section ul li{
    place-items: center;
  }

  section.category-section ul li a{
    width: fit-content;
  }

  section.albums-section ul li{
    display: grid;
    grid-auto-flow: row;

    
  }

  section.songs-section ul li{
    display: grid;
    grid-auto-flow: row;
  }

  main.element-detail{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-inline: 15%;

  }

  main.element-detail > div:nth-child(1){
    display: grid;
    align-items: start;
    grid-row: 2;

  }

  main.element-detail > div:nth-child(2){
    grid-row: 1;
    grid-column: span 3;
  }

  main.element-detail > div:nth-child(3){
    display: grid;
    place-items: center;
    grid-column: span 2;

    
    
  }

  main.element-detail > div:nth-child(4){
    place-content: center;
    grid-row: 3;
    grid-column: span 3;
}

main.element-detail > section.artist-content {
  grid-row: 4;
  grid-column: span 3 ;
}

div.popup-container{
  /* grid-column: span 3; */
  margin-inline: 15%;
}

button[type=submit]:hover{
  outline: 1px solid black;
  outline-offset: 1px;
}

a.edit-information:hover{
  outline: 1px solid black;
  outline-offset: 1px;
}

button.delete-button:hover{
  outline: 1px solid var(--red-accent);
  outline-offset: 1px;
}

div.panel a{
  place-self: end;
}

div.panel button{
  place-self: start;
}

form.main-form{
  padding-inline: 15%;
}

li.error-message{
  padding-inline: 15%;
  color: var(--red-accent); 
  font-size: var(--step--1);
}

}

